.board{
    min-height: 100vh;
    overflow: auto;
}
.nav-board{
    color:whitesmoke;
    font-size: 1.3rem;
    margin:2%;
}
.lists-container{
    display:flex;
    margin-top: 2%;
}
.footer{
    color:whitesmoke;
    font-size: 0.8rem;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}