.list-title-container{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5%;
}
.list-title{
    width: 80%;
    color:rgb(86, 79, 86);
    font-size: 1.5rem;
    font-weight: bold;
    padding-top:0.1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: rgb(196, 192, 192);
    border-radius: 4px;
    border-style: hidden;
}
.list-title:focus{
    background-color:whitesmoke;
    margin-left: 0.4rem;
}
.more-button{
    background-color: rgb(196, 192, 192);
    border-style: hidden;
    align-items: center;
    margin-right: 0.4rem;
}
.more-icon{
    width: 1.8rem;
    height: 1.8rem;
}
